<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issuer</title>
</head>
<body>
<main>
    <div>
        <h1>Issuer</h1>
        <p>Check <a href="/.well-known/openid-credential-issuer">metadata</a></p>
        <p>Go to <a href="/example-offer">example</a></p>
    </div>
</main>
</body>
</html>