<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Issuer</title>
</head>
<body>
<main>
    <div>
        <h1>Issuer</h1>
        <p>Check <a href="/.well-known/openid-credential-issuer">metadata</a></p>
        <br>
        <form action="/offer" method="post">
            <input type="radio" id="blue" name="manufacturer" value="Blue Inc." checked>
            <label for="blue">Blue Inc.</label>
            <input type="radio" id="blue" name="manufacturer" value="Red Inc.">
            <label for="red">Red Inc.</label>
            <button type="submit">Create offer</button>
        </form>
    </div>
</main>
</body>
</html>