<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EJS Is Fun</title>
</head>
<body>
<h1>Example offer</h1>
<br>
<h2>URI</h2>
<p><%=uri%></p>
<br>
<h2>Qr code</h2>
<img src="<%=qrCodeDataUri%>">
</body>
</html>