<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Credential offer</title>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    <a href="/">
        <header>
            <h1>Issuer</h1>
        </header>
    </a>
    <div>
        <h2>Created credential offer</h2>
        <h3>Qr code</h3>
        <img src="<%=qrCodeDataUri%>">
        <p><a href="<%=uri%>">Open from wallet</a></p>
        <h3>URI</h3>
        <p><%=uri%></p>
    </div>

</body>
</html>